<a href="https://colab.research.google.com/github/Adizcool/Room_Price_Prediction/blob/main/Room_Price_Prediction_Data_Preprocessing_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) Install/ Import the required Python Packages/ Libraries**

In [ ]:
#Import required python packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings("ignore")
from sklearn import preprocessing
%matplotlib inline

In [ ]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 498 kB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

**2) Mounting the Google Drive**

In [ ]:
# Mount the Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

**3) Read the Data file and check**

In [ ]:
# Read the Diabetes Data from .csv file and check the data shape (number of Rows and Columns)
df = pd.read_csv('gdrive/My Drive/Datasets/Room Price Prediction/Room_Price_Training_Data.csv')
print(df.shape)
df.head()

(4201, 14)

         ID   District    Neighborhood  ...  Longitude ReviewRating  Price
0   5300082  Manhattan    East Village  ... -73.981665         86.0  160.0
1  17634206  Manhattan  Hell's Kitchen  ... -73.984802        100.0  130.0
2   4025329  Manhattan          Harlem  ... -73.941165         91.0  129.0
3  10096773  Manhattan         Chelsea  ... -74.000744        100.0  145.0
4  11616592  Manhattan    West Village  ... -74.005531         94.0  399.0

[5 rows x 14 columns]

##**I) Check and decide the ML Learning Type and sub-type as applicable**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4201 entries, 0 to 4200
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  4201 non-null   int64
 1   District            4201 non-null   object
 2   Neighborhood        4201 non-null   object
 3   PropertyType        4201 non-null   object
 4   CancellationPolicy  4201 non-null   object
 5   Accommodates        4201 non-null   int64
 6   RoomType            4201 non-null   object
 7   Bathrooms           4201 non-null   float64
 8   Bedrooms            4201 non-null   float64
 9   CleaningFee         4201 non-null   float64
 10  Latitude            4201 non-null   float64
 11  Longitude           4201 non-null   float64
 12  ReviewRating        4201 non-null   float64
 13  Price               4201 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 459.6+ KB

In [ ]:
df.isnull().sum()

ID                    0
District              0
Neighborhood          0
PropertyType          0
CancellationPolicy    0
Accommodates          0
RoomType              0
Bathrooms             0
Bedrooms              0
CleaningFee           0
Latitude              0
Longitude             0
ReviewRating          0
Price                 0
dtype: int64

**Observations on the given Dataset:**
* a) Number of Independet Variables: 12 (Identified)
* b) Number of Dependent Variable : 1 (Price) (Identified)
* c) There is no Missing Value in the Dependent Variable column "Price"

**Conclusions:**
###**a) The given dataset probably belongs to the"Supervised Learning" main-type**
###**b) Since the Dependent variable values are varying integers in nature, the given dataset is of "Regression" sub-type.**

##**II) Check and remove the duplicate records, if any**

In [ ]:
df.shape

(4201, 14)

In [ ]:
# Returns True for every row that is a duplicate, othwerwise False:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
4196    False
4197    False
4198    False
4199    False
4200    False
Length: 4201, dtype: bool

In [ ]:
# Remove all duplicates:
df.drop_duplicates(inplace = True)

In [ ]:
df.shape

(4201, 14)

###**Conclusion: No Duplicate Records**

##**IV) Check for Missing Values and handle them as required**

###**No Missing Values**

##**V) Check for necessity of creating new column(s) and create the columns as required**

###**Decision: As of now, there is no necessity to create new column(s).**

##**VI) Check the unique Values of each column and observe the following and take actions as required:**
* **a) Wrong Data in the columns, if any** 
* **b) Wrong format of the data in the columns, if any**
* **c) Identify the columns which need to be categorically converted to numeric values by using Nominal method/ Ordinal Method**

###**Column-0: ID**

In [ ]:
df['ID'].value_counts()

4859903     1
15454628    1
15635167    1
842462      1
2007773     1
           ..
15602234    1
7064935     1
7411044     1
10612067    1
15720448    1
Name: ID, Length: 4201, dtype: int64

**Observations:**
* a) Data in this column will not be contributing to the prediction of the Depenedent variable

**Decsion:**

**We will be dropping this column**

In [ ]:
df.drop(['ID'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   District            4201 non-null   object
 1   Neighborhood        4201 non-null   object
 2   PropertyType        4201 non-null   object
 3   CancellationPolicy  4201 non-null   object
 4   Accommodates        4201 non-null   int64
 5   RoomType            4201 non-null   object
 6   Bathrooms           4201 non-null   float64
 7   Bedrooms            4201 non-null   float64
 8   CleaningFee         4201 non-null   float64
 9   Latitude            4201 non-null   float64
 10  Longitude           4201 non-null   float64
 11  ReviewRating        4201 non-null   float64
 12  Price               4201 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 459.5+ KB

###**Column-1: District**

In [ ]:
df['District'].value_counts()

Manhattan    4116
Brooklyn       50
Queens         33
Bronx           2
Name: District, dtype: int64

**Observations:**
* a) Data in this column is of "Object" or "String" datatype. Also, the data levels are "Nominal" Type.

**Decsion:**

**We will be converting the data in this column into Numerical values using Nominal Type method "pd.get_dummies".**

**Action:**

In [ ]:
dist = pd.DataFrame(df['District'])
dist_encoded = pd.get_dummies(data = dist, drop_first= True)
dist_encoded

      District_Brooklyn  District_Manhattan  District_Queens
0                     0                   1                0
1                     0                   1                0
2                     0                   1                0
3                     0                   1                0
4                     0                   1                0
...                 ...                 ...              ...
4196                  0                   1                0
4197                  0                   1                0
4198                  0                   1                0
4199                  0                   1                0
4200                  0                   1                0

[4201 rows x 3 columns]

###**Column-2: Neighborhood**

In [ ]:
df['Neighborhood'].value_counts()

Harlem              549
East Village        411
Hell's Kitchen      365
Upper West Side     365
Upper East Side     343
                   ...
Vinegar Hill          1
Midwood               1
Prospect Heights      1
Borough Park          1
Highbridge            1
Name: Neighborhood, Length: 63, dtype: int64

**Observations:**
* a) Data in this column is of "Object" or "String" datatype. Also, the data levels are "Nominal" Type.

**Decsion:**

**We will be converting the data in this column into Numerical values using Nominal Type method "Binary Encoding" for minimum number of colunms**

In [ ]:
#create object for binary encoding
import category_encoders as ce
encoder2 = ce.BinaryEncoder(cols = ['Neighborhood'], return_df = True)

In [ ]:
#fit and transform data
neighborhood_encoded = encoder2.fit_transform(df['Neighborhood'])
neighborhood_encoded

      Neighborhood_0  Neighborhood_1  ...  Neighborhood_4  Neighborhood_5
0                  0               0  ...               0               1
1                  0               0  ...               1               0
2                  0               0  ...               1               1
3                  0               0  ...               0               0
4                  0               0  ...               0               1
...              ...             ...  ...             ...             ...
4196               0               0  ...               1               1
4197               0               0  ...               0               1
4198               0               0  ...               1               1
4199               0               1  ...               0               0
4200               0               1  ...               1               1

[4201 rows x 6 columns]

###**Column-3: Property Type**

In [ ]:
df['PropertyType'].value_counts()

Apartment          3966
House                59
Loft                 48
Condominium          42
Townhouse            37
Other                25
Bed & Breakfast       9
Timeshare             7
Hut                   1
Lighthouse            1
Hostel                1
Vacation home         1
Villa                 1
Dorm                  1
Guesthouse            1
Boutique hotel        1
Name: PropertyType, dtype: int64

**Observations:**
* a) Data in this column is of "Object" or "String" datatype. Also, the data levels are "Nominal" Type.

**Decsion:**

**We will be converting the data in this column into Numerical values using Nominal Type method "Binary Encoding" for minimum number of colunms**

In [ ]:
#create object for binary encoding
import category_encoders as ce
encoder2 = ce.BinaryEncoder(cols = ['PropertyType'], return_df = True)

In [ ]:
#fit and transform data
propertytype_encoded = encoder2.fit_transform(df['PropertyType'])
propertytype_encoded

      PropertyType_0  PropertyType_1  ...  PropertyType_3  PropertyType_4
0                  0               0  ...               0               1
1                  0               0  ...               0               1
2                  0               0  ...               0               1
3                  0               0  ...               0               1
4                  0               0  ...               0               1
...              ...             ...  ...             ...             ...
4196               0               0  ...               0               1
4197               0               0  ...               0               1
4198               0               0  ...               0               1
4199               0               0  ...               0               1
4200               0               0  ...               0               1

[4201 rows x 5 columns]

###**Column-4: Cancellation Policy**

In [ ]:
df['CancellationPolicy'].value_counts()

strict      2277
moderate     993
flexible     931
Name: CancellationPolicy, dtype: int64

**Observations:**
* a) Data in this column is of "Object" or "String" datatype. Also, the data levels are "Ordinal" Type.

**Decsion:**

**We will be converting the data in this column into Numerical values using Ordnial Type method "preprocessing.LabelEncoder()**

In [ ]:
le = preprocessing.LabelEncoder()
df['CancellationPolicy'] = le.fit_transform(df.CancellationPolicy.values)
df['CancellationPolicy'].value_counts()

2    2277
1     993
0     931
Name: CancellationPolicy, dtype: int64

###**Column-5: Accommodates**

In [ ]:
df['Accommodates'].value_counts()

2     2034
4      658
3      520
1      487
6      217
5      161
8       59
7       41
10      14
9        4
12       3
14       2
16       1
Name: Accommodates, dtype: int64

**Observations:**
* a) Data in this column is of "int" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

###**Column-6: Room Type**

In [ ]:
df['RoomType'].value_counts()

Entire home/apt    2384
Private room       1694
Shared room         123
Name: RoomType, dtype: int64

**Observations:**
* a) Data in this column is of "Object" or "String" datatype. Also, the data levels are "Ordinal" Type.

**Decsion:**

**We will be converting the data in this column into Numerical values using Ordnial Type method "preprocessing.LabelEncoder()**

In [ ]:
le = preprocessing.LabelEncoder()
df['RoomType'] = le.fit_transform(df.RoomType.values)
df['RoomType'].value_counts()

0    2384
1    1694
2     123
Name: RoomType, dtype: int64

###**Column-7: Bathrooms**

In [ ]:
df['Bathrooms'].value_counts()

1.000000    3751
2.000000     232
1.500000     137
1.087878      24
0.000000      18
2.500000      17
0.500000       9
3.000000       8
3.500000       4
5.000000       1
Name: Bathrooms, dtype: int64

**Observations:**
* a) Data in this column is of "float" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

###**Column-8: Bedrooms**

In [ ]:
df['Bedrooms'].value_counts()

1.000000    3060
2.000000     501
0.000000     497
3.000000     119
4.000000      17
1.085586       5
5.000000       2
Name: Bedrooms, dtype: int64

**Observations:**
* a) Data in this column is of "float" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

###**Column-9: Cleaning Fee**

In [ ]:
df['CleaningFee'].value_counts()

66.646525     1029
50.000000      441
100.000000     310
60.000000      189
20.000000      180
              ...
9.000000         1
64.000000        1
0.000000         1
28.000000        1
106.000000       1
Name: CleaningFee, Length: 112, dtype: int64

**Observations:**
* a) Data in this column is of "float" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

###**Column-10: Latitude**

In [ ]:
df['Latitude'].value_counts()

40.776014    1
40.808613    1
40.751527    1
40.748382    1
40.737551    1
            ..
40.840575    1
40.731327    1
40.863479    1
40.774358    1
40.725199    1
Name: Latitude, Length: 4201, dtype: int64

**Observations:**
* a) Data in this column will not be contributing to the prediction of the Depenedent variable

**Decsion:**

**We will be dropping this column**

In [ ]:
#dropping the column
df.drop(columns = ['Latitude'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   District            4201 non-null   object
 1   Neighborhood        4201 non-null   object
 2   PropertyType        4201 non-null   object
 3   CancellationPolicy  4201 non-null   int64
 4   Accommodates        4201 non-null   int64
 5   RoomType            4201 non-null   int64
 6   Bathrooms           4201 non-null   float64
 7   Bedrooms            4201 non-null   float64
 8   CleaningFee         4201 non-null   float64
 9   Longitude           4201 non-null   float64
 10  ReviewRating        4201 non-null   float64
 11  Price               4201 non-null   float64
dtypes: float64(6), int64(3), object(3)
memory usage: 426.7+ KB

###**Column-11: Longitude**

In [ ]:
df['Longitude'].value_counts()

-73.959322    1
-73.951283    1
-73.979234    1
-73.954345    1
-73.926520    1
             ..
-73.982821    1
-73.987149    1
-74.007834    1
-73.986120    1
-73.984651    1
Name: Longitude, Length: 4201, dtype: int64

**Observations:**
* a) Data in this column will not be contributing to the prediction of the Depenedent variable

**Decsion:**

**We will be dropping this column**

In [ ]:
#dropping the column
df.drop(columns = ['Longitude'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   District            4201 non-null   object
 1   Neighborhood        4201 non-null   object
 2   PropertyType        4201 non-null   object
 3   CancellationPolicy  4201 non-null   int64
 4   Accommodates        4201 non-null   int64
 5   RoomType            4201 non-null   int64
 6   Bathrooms           4201 non-null   float64
 7   Bedrooms            4201 non-null   float64
 8   CleaningFee         4201 non-null   float64
 9   ReviewRating        4201 non-null   float64
 10  Price               4201 non-null   float64
dtypes: float64(5), int64(3), object(3)
memory usage: 393.8+ KB

###**Column-12: Review Rating**

In [ ]:
df['ReviewRating'].value_counts()

100.0    1108
93.0      325
95.0      303
90.0      252
96.0      251
80.0      224
98.0      210
97.0      205
92.0      180
94.0      177
91.0      137
87.0      113
99.0      104
88.0      102
89.0       97
85.0       72
84.0       52
60.0       44
83.0       44
86.0       37
70.0       25
82.0       21
78.0       15
75.0       13
81.0       13
73.0       12
76.0       11
20.0       10
40.0        8
67.0        7
77.0        7
74.0        6
79.0        5
72.0        3
50.0        2
53.0        2
68.0        2
65.0        1
27.0        1
Name: ReviewRating, dtype: int64

**Observations:**
* a) Data in this column is of "float" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

###**Column-13: Price**

In [ ]:
df['Price'].value_counts()

100.0    200
150.0    164
200.0    145
250.0    124
120.0    113
        ...
287.0      1
436.0      1
980.0      1
194.0      1
413.0      1
Name: Price, Length: 320, dtype: int64

**Observations:**
* a) Data in this column is of "float" datatype. Also, there seems to be no wrong data or wrong data format.

**Decsion:**

**Let us leave the column as it is.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   District            4201 non-null   object
 1   Neighborhood        4201 non-null   object
 2   PropertyType        4201 non-null   object
 3   CancellationPolicy  4201 non-null   int64
 4   Accommodates        4201 non-null   int64
 5   RoomType            4201 non-null   int64
 6   Bathrooms           4201 non-null   float64
 7   Bedrooms            4201 non-null   float64
 8   CleaningFee         4201 non-null   float64
 9   ReviewRating        4201 non-null   float64
 10  Price               4201 non-null   float64
dtypes: float64(5), int64(3), object(3)
memory usage: 393.8+ KB

In [ ]:
df.drop(['District', 'Neighborhood', 'PropertyType'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CancellationPolicy  4201 non-null   int64
 1   Accommodates        4201 non-null   int64
 2   RoomType            4201 non-null   int64
 3   Bathrooms           4201 non-null   float64
 4   Bedrooms            4201 non-null   float64
 5   CleaningFee         4201 non-null   float64
 6   ReviewRating        4201 non-null   float64
 7   Price               4201 non-null   float64
dtypes: float64(5), int64(3)
memory usage: 295.4 KB

In [ ]:
df = pd.concat([df,dist_encoded, neighborhood_encoded, propertytype_encoded], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4201 entries, 0 to 4200
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CancellationPolicy  4201 non-null   int64
 1   Accommodates        4201 non-null   int64
 2   RoomType            4201 non-null   int64
 3   Bathrooms           4201 non-null   float64
 4   Bedrooms            4201 non-null   float64
 5   CleaningFee         4201 non-null   float64
 6   ReviewRating        4201 non-null   float64
 7   Price               4201 non-null   float64
 8   District_Brooklyn   4201 non-null   uint8
 9   District_Manhattan  4201 non-null   uint8
 10  District_Queens     4201 non-null   uint8
 11  Neighborhood_0      4201 non-null   int64
 12  Neighborhood_1      4201 non-null   int64
 13  Neighborhood_2      4201 non-null   int64
 14  Neighborhood_3      4201 non-null   int64
 15  Neighborhood_4      4201 non-null   int64
 16  Neighborhood_5      4201 non-null   int64
 17  PropertyType_0      4201 non-null   int64
 18  PropertyType_1      4201 non-null   int64
 19  PropertyType_2      4201 non-null   int64
 20  PropertyType_3      4201 non-null   int64
 21  PropertyType_4      4201 non-null   int64
dtypes: float64(5), int64(14), uint8(3)
memory usage: 668.7 KB

In [ ]:
df.isnull().sum()

CancellationPolicy    0
Accommodates          0
RoomType              0
Bathrooms             0
Bedrooms              0
CleaningFee           0
ReviewRating          0
Price                 0
District_Brooklyn     0
District_Manhattan    0
District_Queens       0
Neighborhood_0        0
Neighborhood_1        0
Neighborhood_2        0
Neighborhood_3        0
Neighborhood_4        0
Neighborhood_5        0
PropertyType_0        0
PropertyType_1        0
PropertyType_2        0
PropertyType_3        0
PropertyType_4        0
dtype: int64

In [ ]:
df.describe()

       CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
count         4201.000000   4201.000000  ...     4201.000000     4201.000000
mean             1.320400      2.825280  ...        0.024756        0.957629
std              0.813098      1.597897  ...        0.155399        0.201458
min              0.000000      1.000000  ...        0.000000        0.000000
25%              1.000000      2.000000  ...        0.000000        1.000000
50%              2.000000      2.000000  ...        0.000000        1.000000
75%              2.000000      4.000000  ...        0.000000        1.000000
max              2.000000     16.000000  ...        1.000000        1.000000

[8 rows x 22 columns]

###**Slicing X and Y values**

In [ ]:
X = df.drop(['Price'], axis = 1)
Y = df['Price']
X.head()

   CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
0                   2             2  ...               0               1
1                   0             2  ...               0               1
2                   2             4  ...               0               1
3                   0             2  ...               0               1
4                   2             9  ...               0               1

[5 rows x 21 columns]

In [ ]:
Y.head()

0    160.0
1    130.0
2    129.0
3    145.0
4    399.0
Name: Price, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 66)

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3360, 21)
(3360,)
(841, 21)
(841,)

In [ ]:
y_train.isnull().sum()

0

In [ ]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
model = regressor.fit(X_train, y_train)

In [ ]:
train_pred=regressor.predict(X_train)

In [ ]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [ ]:
print("Training Accuracy :", regressor.score(X_train,y_train))
print("Testing Accuracy :", r2_score(y_test,y_pred))

Training Accuracy : 0.5721598393496892
Testing Accuracy : 0.5505703147143302

In [ ]:
print("Training Error :", np.sqrt(mean_squared_error(y_train, train_pred)))
print("Testing Error :", np.sqrt(mean_squared_error(y_test, y_pred)))

Training Error : 69.76606851821995
Testing Error : 83.1331201746242

##**VIII) Implement the Scaling as required**

###**Use Normalization**

In [ ]:
df.columns

Index(['CancellationPolicy', 'Accommodates', 'RoomType', 'Bathrooms',
       'Bedrooms', 'CleaningFee', 'ReviewRating', 'Price', 'District_Brooklyn',
       'District_Manhattan', 'District_Queens', 'Neighborhood_0',
       'Neighborhood_1', 'Neighborhood_2', 'Neighborhood_3', 'Neighborhood_4',
       'Neighborhood_5', 'PropertyType_0', 'PropertyType_1', 'PropertyType_2',
       'PropertyType_3', 'PropertyType_4'],
      dtype='object')

In [ ]:
columnNames=(['CancellationPolicy', 'Accommodates', 'RoomType', 'Bathrooms',
       'Bedrooms', 'CleaningFee', 'ReviewRating', 'District_Brooklyn',
       'District_Manhattan', 'District_Queens', 'Neighborhood_0',
       'Neighborhood_1', 'Neighborhood_2', 'Neighborhood_3', 'Neighborhood_4',
       'Neighborhood_5', 'PropertyType_0', 'PropertyType_1',
       'PropertyType_2', 'PropertyType_3', 'PropertyType_4'])

In [ ]:
min_max_scaler_object = preprocessing.MinMaxScaler()
X_train1 = min_max_scaler_object.fit_transform(X_train)
X_train1 = pd.DataFrame(X_train1 , columns = columnNames)
X_train1.head()

   CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
0                 1.0      0.066667  ...             0.0             1.0
1                 0.0      0.200000  ...             0.0             1.0
2                 0.5      0.066667  ...             0.0             1.0
3                 0.0      0.066667  ...             0.0             1.0
4                 1.0      0.066667  ...             0.0             1.0

[5 rows x 21 columns]

In [ ]:
min_max_scaler_object = preprocessing.MinMaxScaler()
X_test1 = min_max_scaler_object.fit_transform(X_test)
X_test1 = pd.DataFrame(X_test1 , columns = columnNames)
X_test1.head()

   CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
0                 0.0      0.000000  ...             0.0             1.0
1                 1.0      0.111111  ...             0.0             1.0
2                 0.5      0.111111  ...             0.0             1.0
3                 0.0      0.111111  ...             0.0             1.0
4                 0.0      0.111111  ...             0.0             1.0

[5 rows x 21 columns]

In [ ]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor1 = LinearRegression()
model1=regressor1.fit(X_train1, y_train)

In [ ]:
train_pred1=regressor1.predict(X_train1)

In [ ]:
# Predicting the Test set results
y_pred1 = regressor1.predict(X_test1)

In [ ]:
print("Training Accuracy :", regressor1.score(X_train1,y_train))
print("Testing Accuracy :", r2_score(y_test,y_pred1))

Training Accuracy : 0.5721598393496892
Testing Accuracy : 0.40685455173260077

In [ ]:
print("Training Error :", np.sqrt(mean_squared_error(y_train, train_pred1)))
print("Testing Error :", np.sqrt(mean_squared_error(y_test, y_pred1)))

Training Error : 69.76606851821995
Testing Error : 95.5044932547031

###**Use Standardization**

In [ ]:
from sklearn.preprocessing import StandardScaler
std_scaler_object = preprocessing.StandardScaler()
X_train2 = std_scaler_object.fit_transform(X_train)
X_train2 = pd.DataFrame(X_train2 , columns = columnNames)
X_train2.head()

   CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
0            0.835234     -0.520825  ...       -0.153148        0.208514
1           -1.629751      0.730943  ...       -0.153148        0.208514
2           -0.397259     -0.520825  ...       -0.153148        0.208514
3           -1.629751     -0.520825  ...       -0.153148        0.208514
4            0.835234     -0.520825  ...       -0.153148        0.208514

[5 rows x 21 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
std_scaler_object = preprocessing.StandardScaler()
X_test2 = std_scaler_object.fit_transform(X_test)
X_test2 = pd.DataFrame(X_test2 , columns = columnNames)
X_test2.head()

   CancellationPolicy  Accommodates  ...  PropertyType_3  PropertyType_4
0           -1.601922     -1.125578  ...       -0.182125        0.217537
1            0.838688     -0.499513  ...       -0.182125        0.217537
2           -0.381617     -0.499513  ...       -0.182125        0.217537
3           -1.601922     -0.499513  ...       -0.182125        0.217537
4           -1.601922     -0.499513  ...       -0.182125        0.217537

[5 rows x 21 columns]

In [ ]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor2 = LinearRegression()
model2=regressor2.fit(X_train2, y_train)

In [ ]:
train_pred2=regressor2.predict(X_train2)

In [ ]:
# Predicting the Test set results
y_pred2 = regressor2.predict(X_test2)

In [ ]:
print("Training Accuracy :", regressor2.score(X_train2,y_train))
print("Testing Accuracy :", r2_score(y_test,y_pred2))

Training Accuracy : 0.5721598393496892
Testing Accuracy : 0.5506511543288612

In [ ]:
print("Training Error :", np.sqrt(mean_squared_error(y_train, train_pred2)))
print("Testing Error :", np.sqrt(mean_squared_error(y_test, y_pred2)))

Training Error : 69.76606851821997
Testing Error : 83.12564319675501

###**Here, we do not scale the data as both Normalization and Sandardization have not improved the Testing accuracy.**

In [ ]:
from google.colab import files
df.to_csv("gdrive/My Drive/Datasets/Room Price Prediction/Room_Price_Data_Preprocessed.csv", index = False)